In [5]:
import networkx as nx
G = nx.Graph()
G.add_edges_from([[0,1], [1,2], [2,3], [0,2], [0,3]])
X = nx.shortest_simple_paths(G, 0, 3) #generator to find paths from 0 to 3 in order from shortest to longest.
for x in X:
    print(x)

[0, 3]
[0, 2, 3]
[0, 1, 2, 3]

In [6]:
#note that X is now empty because it is a generator
for x in X:
    print(x) #nothing to see here

In [7]:
#if you just want the first two:
X = nx.shortest_simple_paths(G, 0, 3)
for k in range(2):
    print(next(X))

[0, 3]
[0, 2, 3]

In [8]:
import pandas as pd
df_r=pd.read_csv("route_data2.csv")

In [9]:
df_r

     id           label source target  caption
0   r01    high_traffic   bs01   bs02  route01
1   r02    high_traffic   bs02   bs03  route02
2   r03    high_traffic   bs03   bs04  route03
3   r04    high_traffic   bs04   bs05  route04
4   r05    high_traffic   bs05   bs06  route05
5   r06  medium_traffic   bs06   bs07  route06
6   r07  medium_traffic   bs07   bs08  route07
7   r08  medium_traffic   bs08   bs09  route08
8   r09  medium_traffic   bs09   bs10  route09
9   r10  medium_traffic   bs10   bs11  route10
10  r12  medium_traffic   bs12   bs13  route12
11  r13  medium_traffic   bs13   bs14  route13
12  r14  medium_traffic   bs14   bs15  route14
13  r15  medium_traffic   bs15   bs16  route15
14  r16     low_traffic   bs16   bs17  route16
15  r17     low_traffic   bs17   bs18  route17
16  r18     low_traffic   bs18   bs19  route18
17  r19     low_traffic   bs19   bs20  route19
18  r20     low_traffic   bs20   bs01  route20
19  r21    high_traffic   bs01   bs20  route21
20  r22    high_traffic   bs02   bs08  route22
21  r23    high_traffic   bs03   bs19  route23
22  r24    high_traffic   bs04   bs07  route24
23  r26  medium_traffic   bs06   bs01  route26
24  r27  medium_traffic   bs07   bs15  route27
25  r28  medium_traffic   bs08   bs18  route28
26  r29  medium_traffic   bs09   bs12  route29
27  r32  medium_traffic   bs12   bs17  route32
28  r33  medium_traffic   bs13   bs04  route33
29  r34  medium_traffic   bs14   bs03  route34
30  r35  medium_traffic   bs15   bs16  route35
31  r36     low_traffic   bs16   bs13  route36
32  r37     low_traffic   bs17   bs06  route37
33  r38     low_traffic   bs18   bs14  route38
34  r39     low_traffic   bs19   bs11  route39
35  r40     low_traffic   bs20   bs02  route40
36  r41    high_traffic   bs01   bs13  route41
37  r42    high_traffic   bs02   bs11  route42
38  r43    high_traffic   bs03   bs05  route43
39  r44    high_traffic   bs04   bs07  route44
40  r45    high_traffic   bs05   bs19  route45
41  r46  medium_traffic   bs06   bs16  route46
42  r47  medium_traffic   bs07   bs20  route47
43  r48  medium_traffic   bs08   bs14  route48
44  r49  medium_traffic   bs09   bs04  route49

In [10]:
series1 = pd.Series(df_r['source'])
series2 = pd.Series(df_r['target'])
df_unique = pd.concat([series1, series2], axis = 0)

In [11]:
df_unique

0     bs01
1     bs02
2     bs03
3     bs04
4     bs05
      ...
40    bs19
41    bs16
42    bs20
43    bs14
44    bs04
Length: 90, dtype: object

In [12]:
df1 = df_r[['source','target']].melt(value_name='New_column')[['New_column']]

In [13]:
df1

   New_column
0        bs01
1        bs02
2        bs03
3        bs04
4        bs05
..        ...
85       bs19
86       bs16
87       bs20
88       bs14
89       bs04

[90 rows x 1 columns]

In [14]:
df1.drop_duplicates(inplace=True)

In [21]:
df1=df1.sort_values(by=['New_column'], ascending=True)

In [22]:
df1['new_col'] = range(1, len(df1) + 1)

In [23]:
df1

   New_column  new_col
0        bs01        1
1        bs02        2
2        bs03        3
3        bs04        4
4        bs05        5
5        bs06        6
6        bs07        7
7        bs08        8
8        bs09        9
9        bs10       10
54       bs11       11
10       bs12       12
11       bs13       13
12       bs14       14
13       bs15       15
14       bs16       16
15       bs17       17
16       bs18       18
17       bs19       19
18       bs20       20

In [25]:
dict1=df1.set_index('New_column').T.to_dict('list')

In [26]:
dict1

{'bs01': [1],
 'bs02': [2],
 'bs03': [3],
 'bs04': [4],
 'bs05': [5],
 'bs06': [6],
 'bs07': [7],
 'bs08': [8],
 'bs09': [9],
 'bs10': [10],
 'bs11': [11],
 'bs12': [12],
 'bs13': [13],
 'bs14': [14],
 'bs15': [15],
 'bs16': [16],
 'bs17': [17],
 'bs18': [18],
 'bs19': [19],
 'bs20': [20]}

In [ ]:
df['D'] = df['U'].map(d)